.DS_Store
.coverage
.tox
*~
*.bin
*.cof
*.egg
*.egg-info
*.elf
*.hex
*.hlr
*.lst
*.o
*.obj
*.rel
*.p
*.pyc
*.pyo
*.retry
*.swp
coverage.xml
nosetests.xml
out.*
.eggs/
__pycache__/
build/
dist/
env*/
htmlcov/
