.DS_Store
.coverage
.tox
*~
*.bin
*.cof
*.egg
*.egg-info
*.elf
*.hex
*.hlr
*.kicad_prl
*.lst
*.o
*.obj
*.rel
*.p
*.prc
*.pyc
*.pyo
*.retry
*.swp
*-backups/
coverage.xml
fp-info-cache
nosetests.xml
out.*
.eggs/
__pycache__/
build/
dist/
env*/
gerbers/
htmlcov/
